<div class="main-content col-sm-2">
    <img src="/images/logo.png">
</div>

<div class="col-sm-2 mb-3">
    <button class="btn btn-block btn-primary" id="login-button"><a class="text-white" href="/logout">Logout</a></button>
</div>
