<nav class="navbar navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="img.icon" src="/images/logo.png" style="width:200px !important;height:36px !important;"></a>
        <div class="d-flex w-auto">
            <button class="btn btn-link" id="logout-button"><a class="" href="/logout">Logout</a></button>
        </div>
    </div>
</nav>
